.frame img{
    border: 10px solid #000;
    cursor: pointer;
    height: auto;
  }


.frame img:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
  filter: drop-shadow(15px 15px 19px black);

}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
  
 
  
  .box_setting {
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    z-index: 1;
    overflow: auto;
    position: fixed;
    align-content: center;
    justify-content: center;
  }
  
  .appearance {
    width: 650px;
    max-width: 750px;
    margin: auto;
    background-color: lightcyan;
    border: 10px solid lightcyan;
    display: flex;
    cursor: mouse;
  }
  
  
  .title {
    color:rgb(30, 102, 161);
    font-size: 50px;
    line-height: 100px;
  }
  
  .director {
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    line-height: 50px;
  }
  
  .rating {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(245, 218, 65);
    color: black;
  }


  
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  .content {
    display: inline-block;
    height: auto;
  }
